html,body,#app,.common-container,.layout{
  width: 100%;
  min-height: calc(100vh - 2px);
  box-sizing: border-box;
  position: relative;
}
.common-layout-container{
  height:calc(100% - 117px);
  width: 100%;
  position: relative;
}

.layout-content {
  min-height: calc(100% - 58px);
  padding: 10px;
  position: relative;
}

.layout-breadcrumb{
  display: flex;
  line-height: 32px;
  padding: 10px 15px 0;
}
.ivu-breadcrumb{
  flex: 1 1 auto;
}

.ivu-page{
  user-select:none;
}
