.logo {
  margin: 16px;
  padding: 10px;
  background: #f0f0f0;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
.background {
  background: #fff !important;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.sider{
  background: #fff !important;
  border-right: 1px solid #f0f0f0;
}
.content {
  padding-top: 10px;
  background: #FFF;
  position: relative;
}
